<h1><%= @article.title %></h1>

<% unless @article.usuer.nil? %>
<p>
	Escrito por: <%= @article.usuer.email %>
</p>

<p>
	Visitas: <%= @article.visits_counts %>
</p>
<% end %>

<div>
	<%= @article.body %>
</div>

<div class="field">
<h3>
	Comnetarios
</h3>	
<%= render "comments/form" %>
</div>

<ul id="comment-box">
	<% @article.comments.each do |comment| %>
	<li>
		<%= comment.body %> <%= comment.usuer.email%>
	</li>
	<%end%>
</ul>

<div>
	<%= link_to "Editar", edit_article_path(@article) %>
</div>